
h1 {
  margin: 0px;
}

div#navbar {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.container {
  background-color: white;
  padding: 5px 5px;
}

table {
  border-collapse: collapse;
  border: black thin solid;
}

tr {
  border: black thin solid;
  border-bottom: none;
}

tr.urgent.raised {
  background-color: #f88;
}

tr.normal.raised {
  background-color: #ff8;
}

tr.low.raised {
  background-color: #8f8;
}

tr {
  background-color: #fff;
}

tr.detail {
  background-color: white !important;
  border-top-style: dashed;
  border-top-width: thin;
}

.hidden {
  display: none;
}

/** Flash notices **/

.error {
  background-color: #ffe;
  border: solid 2px #ffc;
  background-image: url('/images/error.png');
}

.notice {
  background-color: #eef;
  border: solid 2px #ccf;
  background-image: url('/images/information.png');
}

tr.error, tr.notice {
  margin: 5px 5px 0px;
  padding: 0px;
  padding-left: 25px;
  color: black;
  font-size: large;
  background-position: 5px;
  background-repeat: no-repeat;
  min-height: 25px;
}

div.error, div.notice {
  margin: 5px 5px 0px;
  padding: 0px;
  padding-left: 25px;
  color: black;
  font-size: large;
  background-position: 5px;
  background-repeat: no-repeat;
  min-height: 25px;
}

div.flash p {
  background-color: transparent;
}

table#events_table td {
  width: 14%;
  border-left: solid;
}

table#events_table td p.event_date {
  font-weight: bold;
  font-size: smaller;
}

p {
  background-color: inherit;
}

.even {
  background-color: #ddd;
}


