div#navbar li#nav_index a {
  background-image: none;
  background-repeat: inherit;
  background-position: inherit;
  padding-left: inherit;
  width: inherit;
  overflow: inherit;
}

div li a {
  font-size: smaller;
}
