%table#alerts_table
  %tr
    %th#selector
      %input#toggle_all{ :type => "checkbox" }
      :javascript
        // This just toggles all the checkboxes.
        $('#toggle_all').change( function() {
          $('input.alert').each( function(index) {
            this.checked = !this.checked;
          });
        });
    %th#summary Summary
    %th#time    At
  = partial("alerts_table_group", :collection => @grouped_alerts)
