!!! XML
!!!
%html
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}/
    %title #{@title}: Authentication required
    %link{:rel => "stylesheet", :href => "/stylesheets/bytemark.css"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/mauve.css"}/
    %script{:src => 'javascript/jquery/jquery.js', :type => 'text/javascript'}
