%form{:name=>"changeAlertStatusForm", :action=>"html_form_action", :method=>"post"}
  %input{:type=>"hidden", :name=>"AlertID", :value=>"Null"}
  %input{:type=>"hidden", :name=>"AlertDefaultAcknowledgeTime", :value=>"Null"}
  %input{:type=>"button", :name=>"statusAcknowledgedFor", :value=>"Acknowledge this alert for",
    :onclick=>"changeAcknowledgeStatus(this.form.AlertID.value, this.form.timeStamp.value)",
    :class=>"buttonAcknowledgeAlert"}
  %select{:name=>"timeStamp", :id=>"sample", :class=>"timeList"}
    %option{:value=>"0"}default...
    %option{:value=>"3600"}1 hour
    %option{:value=>"7200"}2 hours
    %option{:value=>"7560"}3 hours
    %option{:value=>"18000"}5 hours
    %option{:value=>"25200"}7 hours
    %option{:value=>"86400"}1 day
    %option{:value=>"172800"}2 days
    %option{:value=>"604800"}1 week
    %option{:value=>"0"}Forever
  %input{:type=>"button", :name=>"raise", :value=>"Unacknowledged", :onClick=>"raiseAlert(this.form.AlertID.value);", :class=>"raiseAlert"} 
  %input{:type=>"button", :name=>"clear", :value=>"Trash alert", :onClick=>"clearAlert(this.form.AlertID.value);", :class=>"trashAlert"} 
%em
  Please be careful what you chose and err on the side of shorter times scales.
