%a{:title=>"Collapse the entire tree below", :href=>"#"}
  %img{:src=>"/images/minus.png"}
  Collapse All
%a{:title=>"Expand the entire tree below", :href=>"#"}
  %img{:src=>"/images/plus.png"} 
  Expand All
%a{:title=>"Toggle collapse/expand of tree below", :href=>"#"}
  %img{:src=>"/images/toggle.png"} 
  Toggle All
