!!! 5
%html
  = partial('head')
  %body
    =partial("navbar")
    .container
      - if @grouped_alerts.length > 0
        = partial('alerts_table')
      - else
        .notice
          %p No alerts to display.

