!!!
%html
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %title #{@title}: Authentication required
    %link{:rel => "stylesheet", :href => "/alerts2.css"}
  %body
    .loginForm
      %form{:action => '/login', :method => :POST}
        Username
        %input{:name => 'username', :type => 'text'}
        %br
        Password
        %input{:name => 'password', :type => 'password'}
        %br
        %input{:type => 'submit', :value => 'Log into the Mauve alert panel', :class=>"submitLoginButton"}
      .loginNotes
        This is either your single sign on or a PIN.
        %br
        You 
        %strong
          must
        be logged in to view alerts.


