Source: mauvealert
Maintainer: Matthew Bloch <matthew@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Section: ruby
Priority: optional
Build-Depends: ruby | ruby-interpreter, debhelper, rdoc, txt2man, dh-systemd, bundler
Standards-Version: 3.9.1

Package: mauvealert-server
Architecture: all
Pre-Depends: libjs-jquery
Depends: adduser, lsb-base, ruby | ruby-interpreter, ${misc:Depends}
Suggests: mauvealert-client
Recommends: ruby-locale | liblocale-ruby1.8
Description: Mauve network alert system -- server
 Mauve is a network alert system for system and network administrators.  You can
 use it to quickly set up ad-hoc monitoring for a variety of services, and to
 confidently replace all scripts that might otherwise send floods of emails or
 text messages.
 .
 This is the server package.

Package: mauvealert-client
Architecture: all
Depends: ruby | ruby-interpreter,
  mauvealert-common (>= 3.8.0),
  ${misc:Depends}
Recommends: liblocale-ruby1.8 | ruby-locale
Description: Mauve network alert system -- client
 Mauve is a network alert system for system and network administrators.  You
 can use it to quickly set up ad-hoc monitoring for a variety of services, and
 to confidently replace all scripts that might otherwise send floods of emails
 or text messages.
 .
 This is the client package.

Package: mauvealert-common
Architecture: all
Depends: ruby | ruby-interpreter, ruby-protobuf, ${misc:Depends}
Suggests: mauvealert-client
Description: Mauve network alert system -- common libraries
 Mauve is a network alert system for system and network administrators.  You can
 use it to quickly set up ad-hoc monitoring for a variety of services, and to
 confidently replace all scripts that might otherwise send floods of emails or
 text messages.
 .
 This is the package of libraries in common with both the client and server.

