Source: mauvealert
Maintainer: Matthew Bloch <matthew@bytemark.co.uk>
Uploaders: Patrick J Cherry <patrick@bytemark.co.uk>
Section: ruby
Priority: optional
Build-Depends: ruby1.8, debhelper, cdbs, rdoc, txt2man, cdbs, libsetup-ruby1.8
Standards-Version: 3.9.1

Package: mauvealert-client
Architecture: all
Depends: ruby1.8,
  mauvealert-common (>= 3.4.0),
  ${misc:Depends}
Description: Mauve network alert system -- client
 Mauve is a network alert system for system and network administrators.  You
 can use it to quickly set up ad-hoc monitoring for a variety of services, and
 to confidently replace all scripts that might otherwise send floods of emails
 or text messages.
 .
 This is the client package.

Package: mauvealert-server
Architecture: all
Pre-Depends: libjs-jquery
Depends: mauvealert-common (>= 3.4.0),
 adduser,
 libdm-core-ruby1.8 (>= 1.2.0),
 libdm-migrations-ruby1.8 (>= 1.2.0),
 libdm-serializer-ruby1.8 (>= 1.2.0),
 libdm-sqlite-adapter-ruby1.8 (>= 1.2.0),
 libdm-types-ruby1.8 (>= 1.2.0),
 libdm-validations-ruby1.8 (>= 1.2.0),
 libhaml-ruby1.8,
 liblog4r-ruby1.8,
 libredcloth-ruby1.8,
 librmail-ruby1.8,
 libsanitize-ruby1.8 (>= 2.0.3),
 libsinatra-ruby1.8 (>= 1.0),
 ruby1.8 (>= 1.8.7),
 thin1.8 (>= 1.2.11),
 libxmpp4r-ruby1.8,
 ${misc:Depends}
Suggests: mauvealert-client
Description: Mauve network alert system -- server
 Mauve is a network alert system for system and network administrators.  You can
 use it to quickly set up ad-hoc monitoring for a variety of services, and to
 confidently replace all scripts that might otherwise send floods of emails or
 text messages.
 .
 This is the server package.

Package: mauvealert-common
Architecture: all
Depends: ruby1.8, ruby-protobuf, ${misc:Depends}
Suggests: mauvealert-client
Description: Mauve network alert system -- common libraries
 Mauve is a network alert system for system and network administrators.  You can
 use it to quickly set up ad-hoc monitoring for a variety of services, and to
 confidently replace all scripts that might otherwise send floods of emails or
 text messages.
 .
 This is the package of libraries in common with both the client and server.

